# Data Cleaning

We want to clean the data and add a few columns that will be useful when doing data exploration and in the model.

    1. Salary parsing
    2. company name text only
    3. Age of company
    4. Parsing of job description (python, etc.)
    5. Is job position at headquarter?
    6. Simplifying job titles
    7. Seniority levels
    8. State and City
    9. Competitor Count
    10. Hourly wage to annual
    11. Description Length

In [163]:
import pandas as pd

In [164]:
df = pd.read_csv("/path/DataScientist.csv")

In [165]:
df.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1

## 1. Salary Parsing

In [166]:
df["Salary Estimate"].unique()

array(['$111K-$181K (Glassdoor est.)', '$120K-$140K (Glassdoor est.)',
       '$119K-$147K (Glassdoor est.)', '$74K-$124K (Glassdoor est.)',
       '$102K-$121K (Glassdoor est.)', '$129K-$210K (Glassdoor est.)',
       '$156K-$254K (Glassdoor est.)', '$116K-$152K (Glassdoor est.)',
       '$133K-$171K (Glassdoor est.)', '$110K-$139K (Glassdoor est.)',
       '$82K-$141K (Glassdoor est.)', '$96K-$119K (Glassdoor est.)',
       '$146K-$175K (Glassdoor est.)', '$102K-$164K (Glassdoor est.)',
       '$113K-$180K (Glassdoor est.)', '$76K-$122K (Glassdoor est.)',
       '$134K-$218K (Glassdoor est.)', '$76K-$125K (Glassdoor est.)',
       '$132K-$208K (Glassdoor est.)', '$83K-$105K (Glassdoor est.)',
       '$75K-$143K (Glassdoor est.)', '$34K-$72K (Glassdoor est.)',
       '$37K-$75K (Glassdoor est.)', '$113K-$184K (Glassdoor est.)',
       '$136K-$164K (Glassdoor est.)', '$34-$53 Per Hour(Glassdoor est.)',
       '$46K-$80K (Glassdoor est.)', '$79K-$130K (Glassdoor est.)',
       '$91K-$105K (Glassdoor est.)', '$31K-$56K (Glassdoor est.)',
       '$39K-$81K (Glassdoor est.)', '$99K-$174K (Glassdoor est.)',
       '$76K-$147K (Glassdoor est.)', '$62K-$109K (Glassdoor est.)',
       '$70K-$123K (Glassdoor est.)', '$40K-$73K (Glassdoor est.)',
       '$38K-$59K (Glassdoor est.)', '$60K-$105K (Glassdoor est.)',
       '$69K-$144K (Glassdoor est.)', '$47K-$82K (Glassdoor est.)',
       '$90K-$175K (Glassdoor est.)', '$39K-$87K (Glassdoor est.)',
       '$36K-$71K (Glassdoor est.)', '$55K-$117K (Glassdoor est.)',
       '$114K-$144K (Glassdoor est.)', '$138K-$217K (Glassdoor est.)',
       '$72K-$97K (Glassdoor est.)', '$73K-$136K (Glassdoor est.)',
       '$10-$26 Per Hour(Glassdoor est.)', '$94K-$151K (Glassdoor est.)',
       '$97K-$159K (Glassdoor est.)', '$46K-$104K (Glassdoor est.)',
       '$45K-$81K (Glassdoor est.)', '$92K-$144K (Glassdoor est.)',
       '$64K-$97K (Glassdoor est.)', '$47K-$73K (Glassdoor est.)',
       '$84K-$156K (Glassdoor est.)', '$97K-$111K (Glassdoor est.)',
       '$84K-$101K (Glassdoor est.)', '$99K-$173K (Glassdoor est.)',
       '$93K-$151K (Glassdoor est.)', '$50K-$87K (Glassdoor est.)',
       '$71K-$117K (Glassdoor est.)', '$44K-$80K (Glassdoor est.)',
       '$94K-$166K (Glassdoor est.)', '$65K-$100K (Glassdoor est.)',
       '$41K-$74K (Glassdoor est.)', '$46K-$83K (Glassdoor est.)',
       '$45K-$106K (Glassdoor est.)', '$71K-$122K (Glassdoor est.)',
       '$143K-$237K (Glassdoor est.)', '$70K-$154K (Glassdoor est.)',
       '$68K-$89K (Glassdoor est.)', '$55K-$101K (Glassdoor est.)',
       '$98K-$152K (Glassdoor est.)', '$54K-$92K (Glassdoor est.)',
       '$74K-$140K (Glassdoor est.)', '$83K-$154K (Glassdoor est.)',
       '$52K-$91K (Glassdoor est.)', '$43K-$76K (Glassdoor est.)',
       '$17-$27 Per Hour(Glassdoor est.)', '$114K-$146K (Glassdoor est.)',
       '$60K-$124K (Glassdoor est.)', '$46K-$82K (Glassdoor est.)',
       '$83K-$165K (Glassdoor est.)', '$39K-$69K (Glassdoor est.)',
       '$88K-$140K (Glassdoor est.)', '$74K-$129K (Glassdoor est.)',
       '$114K-$211K (Glassdoor est.)', '$75K-$149K (Glassdoor est.)',
       '$112K-$211K (Glassdoor est.)', '$62K-$127K (Glassdoor est.)',
       '$86K-$178K (Glassdoor est.)', '$110K-$169K (Glassdoor est.)',
       '$12K-$112K (Glassdoor est.)', '$12K-$111K (Glassdoor est.)',
       '$134K-$210K (Glassdoor est.)', '$49K-$78K (Glassdoor est.)',
       '$48K-$98K (Glassdoor est.)', '$85K-$159K (Glassdoor est.)',
       '$51K-$79K (Glassdoor est.)', '$49K-$92K (Glassdoor est.)',
       '$85K-$147K (Glassdoor est.)', '$45K-$78K (Glassdoor est.)',
       '$48K-$89K (Glassdoor est.)', '$46K-$91K (Glassdoor est.)',
       '$73K-$102K (Glassdoor est.)', '$100K-$172K (Glassdoor est.)',
       '$93K-$149K (Glassdoor est.)', '$148K-$174K (Glassdoor est.)',
       '$111K-$175K (Glassdoor est.)', '$150K-$237K (Glassdoor est.)',
       '$200K-$250K(Employer est.)', '$135K-$214K (Glassdoor est.)',
       '$119K-$188K (Glassdoor est.)', '$145K-$176K (Glassdoor est.)',
       '$150K-$169K (Glassdoor est.)', '$121K-$192K (Glassdoor est.)',
       '$141K-$225K (Glassdoor est.)', '$102K-$179K (Glassdoor est.)',
       '$116K-$181K (Glassdoor est.)', '$112K-$178K (Glassdoor est.)',
       '$100K-$152K (Glassdoor est.)', '$38K-$68K (Glassdoor est.)',
       '$73K-$111K (Glassdoor est.)', '$82K-$129K(Employer est.)',
       '$74K-$144K (Glassdoor est.)', '$41K-$66K (Glassdoor est.)',
       '$59K-$113K (Glassdoor est.)', '$70K-$129K (Glassdoor est.)',
       '$50K-$110K (Glassdoor est.)', '$62K-$112K (Glassdoor est.)',
       '$114K-$185K (Glassdoor est.)', '$61K-$94K (Glassdoor est.)',
       '$54K-$88K (Glassdoor est.)', '$66K-$130K (Glassdoor est.)',
       '$96K-$155K (Glassdoor est.)', '$57K-$80K (Glassdoor est.)',
       '$47K-$84K (Glassdoor est.)', '$39K-$71K (Glassdoor est.)',
       '$55K-$98K (Glassdoor est.)', '$93K-$103K (Glassdoor est.)',
       '$100K-$163K (Glassdoor est.)', '$98K-$160K (Glassdoor est.)',
       '$52K-$94K (Glassdoor est.)', '$55K-$113K (Glassdoor est.)',
       '$39K-$86K (Glassdoor est.)', '$55K-$112K (Glassdoor est.)'],
      dtype=object)

In [167]:
# Removing (Glassdoor est.) for salary estimate
salary = df["Salary Estimate"].apply(lambda x: x.split('(')[0])
# Removing "K" and "$"
salary = salary.apply(lambda x: x.replace("K","").replace("$", ""))

In [168]:
salary.head()

0    111-181
1    111-181
2    111-181
3    111-181
4    111-181
Name: Salary Estimate, dtype: object

In [169]:
salary.unique()

array(['111-181 ', '120-140 ', '119-147 ', '74-124 ', '102-121 ',
       '129-210 ', '156-254 ', '116-152 ', '133-171 ', '110-139 ',
       '82-141 ', '96-119 ', '146-175 ', '102-164 ', '113-180 ',
       '76-122 ', '134-218 ', '76-125 ', '132-208 ', '83-105 ', '75-143 ',
       '34-72 ', '37-75 ', '113-184 ', '136-164 ', '34-53 Per Hour',
       '46-80 ', '79-130 ', '91-105 ', '31-56 ', '39-81 ', '99-174 ',
       '76-147 ', '62-109 ', '70-123 ', '40-73 ', '38-59 ', '60-105 ',
       '69-144 ', '47-82 ', '90-175 ', '39-87 ', '36-71 ', '55-117 ',
       '114-144 ', '138-217 ', '72-97 ', '73-136 ', '10-26 Per Hour',
       '94-151 ', '97-159 ', '46-104 ', '45-81 ', '92-144 ', '64-97 ',
       '47-73 ', '84-156 ', '97-111 ', '84-101 ', '99-173 ', '93-151 ',
       '50-87 ', '71-117 ', '44-80 ', '94-166 ', '65-100 ', '41-74 ',
       '46-83 ', '45-106 ', '71-122 ', '143-237 ', '70-154 ', '68-89 ',
       '55-101 ', '98-152 ', '54-92 ', '74-140 ', '83-154 ', '52-91 ',
       '43-76 ', '17-27 Per Hour', '114-146 ', '60-124 ', '46-82 ',
       '83-165 ', '39-69 ', '88-140 ', '74-129 ', '114-211 ', '75-149 ',
       '112-211 ', '62-127 ', '86-178 ', '110-169 ', '12-112 ', '12-111 ',
       '134-210 ', '49-78 ', '48-98 ', '85-159 ', '51-79 ', '49-92 ',
       '85-147 ', '45-78 ', '48-89 ', '46-91 ', '73-102 ', '100-172 ',
       '93-149 ', '148-174 ', '111-175 ', '150-237 ', '200-250',
       '135-214 ', '119-188 ', '145-176 ', '150-169 ', '121-192 ',
       '141-225 ', '102-179 ', '116-181 ', '112-178 ', '100-152 ',
       '38-68 ', '73-111 ', '82-129', '74-144 ', '41-66 ', '59-113 ',
       '70-129 ', '50-110 ', '62-112 ', '114-185 ', '61-94 ', '54-88 ',
       '66-130 ', '96-155 ', '57-80 ', '47-84 ', '39-71 ', '55-98 ',
       '93-103 ', '100-163 ', '98-160 ', '52-94 ', '55-113 ', '39-86 ',
       '55-112 '], dtype=object)

Salary estimate has "per hour" estimates so we need to add a column to account for that

In [170]:
df["hourly"] = df["Salary Estimate"].apply(lambda x: 1 if "per hour" in x.lower() else 0)

In [171]:
# Removing "Per Hour" from salary column
salary = salary.apply(lambda x: x.lower().replace("per hour", ''))

In [172]:
# Splitting salary in min and max range, and average salary
df["min_salary"] = salary.apply(lambda x: int(x.split('-')[0]))
df["max_salary"] = salary.apply(lambda x: int(x.split("-")[1]))
df["avg_salary"] = (df.min_salary + df.max_salary) / 2

## 2. Company name text only

In [173]:
df[["Company Name", "Rating"]].head()

                      Company Name  Rating
0                      Hopper\n3.5     3.5
1                     Noom US\n4.5     4.5
2                         Decode_M    -1.0
3            Sapphire Digital\n3.4     3.4
4  United Entertainment Group\n3.4     3.4

It looks like that every company that has a rating has the rating added at the end of the name in addition to "\n".
We are going to clean the name by removing the last four characters of the companies that have received a rating.

In [174]:
df["company_name"] = df.apply(lambda x: x["Company Name"] if x["Rating"] < 0 else x["Company Name"][:-4], axis=1)

## 3. Age of Company

In [175]:
# Adding age column
df["age"] = df.Founded.apply(lambda x: x if x < 0 else 2022 - x)

## 4. Parsing of job description (python, etc.)

Here we parse thorugh the job description to see if some position require the main tools for a data scientist.

In [176]:
# Python
df["python_yn"] = df["Job Description"].apply(lambda x: 1 if "python" in x.lower() else 0)

In [177]:
# R studio
df["rstudio_yn"] = df["Job Description"].apply(lambda x: 1 if "r studio" in x.lower() or "r-studio" in x.lower() else 0)

In [178]:
# Spark
df["spark_yn"] = df["Job Description"].apply(lambda x: 1 if "spark" in x.lower() else 0)

In [179]:
# aws
df["aws_yn"] = df["Job Description"].apply(lambda x: 1 if "aws" in x.lower() else 0)

In [180]:
# Excel
df["excel_yn"] = df["Job Description"].apply(lambda x: 1 if "excel" in x.lower() else 0)

## 5. Is job position at headquarter?

In [181]:
# Creating a flag to see if the job posting is at headquarters
df["same_state"] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis=1)

In [182]:
df.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,...,max_salary,avg_salary,company_name,age,python_yn,rstudio_yn,spark_yn,aws_yn,excel_yn,same_state
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,...,181,146.0,Hopper,15,0,0,0,0,0,0
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,...,181,146.0,Noom US,14,1,0,0,0,1,1
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,...,181,146.0,Decode_M,-1,1,0,0,0,1,1
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,...,181,146.0,Sapphire Digital,3,1,0,0,0,1,1
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,...,181,146.0,United Entertainment Group,15,1,0,0,0,1,1

## 6. Simplifying Job Titles

In [183]:
def simple_title(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    if 'data engineer' in title.lower():
        return 'data engineer'
    if 'analyst' in title.lower():
        return 'analyst'
    if 'machine learning' in title.lower():
        return 'machine learning'
    if 'director' in title.lower():
        return 'director'
    else:
        return 'na'

In [184]:
df['job_simple'] = df['Job Title'].apply(simple_title)

In [185]:
df.job_simple.value_counts()

na                  1127
data scientist       984
analyst              880
data engineer        742
machine learning     140
director              36
Name: job_simple, dtype: int64

## 7. Seniority

In [186]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'junior' in title.lower():
        return 'junior'
    else:
        return 'na'

In [187]:
df['seniority'] = df['Job Title'].apply(seniority)

In [188]:
df.seniority.value_counts()

na        2961
senior     903
junior      45
Name: seniority, dtype: int64

## 8. State and City

In [189]:
# Getting the State of the location
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
df.job_state.value_counts()

 TX                1253
 CA                1069
 IL                 363
 PA                 324
 NY                 313
 AZ                 295
 OH                 177
 FL                  69
 NJ                  32
 DE                  10
 United Kingdom       4
Name: job_state, dtype: int64

In [190]:
# Removing trailing spaces in the state field
df.job_state = df.job_state.apply(lambda x: x.strip())

In [191]:
df.job_state.value_counts()

TX                1253
CA                1069
IL                 363
PA                 324
NY                 313
AZ                 295
OH                 177
FL                  69
NJ                  32
DE                  10
United Kingdom       4
Name: job_state, dtype: int64

In [192]:
# Removing instances where state is "United Kingdom"
df = df[df.job_state != "United Kingdom"]

In [193]:
df.job_state.value_counts()

TX    1253
CA    1069
IL     363
PA     324
NY     313
AZ     295
OH     177
FL      69
NJ      32
DE      10
Name: job_state, dtype: int64

## 9. Competitor Count

In [194]:
df["competitor_count"] = df["Competitors"].apply(lambda x: len(x.split(',')) if x != '-1' else 0)

## 10. Hourly wage to annual

In [196]:
# We convert by multiplying by 2 to get an approximate the salary (we would multiply by 2,000 but all salary are stripped of three zeros)
df.min_salary = df.apply(lambda x: x.min_salary * 2 if x.hourly == 1 else x.min_salary, axis=1)
df.max_salary = df.apply(lambda x: x.max_salary * 2 if x.hourly == 1 else x.max_salary, axis=1)

## 11. Description Length

In [202]:
df['desc_len'] = df['Job Description'].apply(lambda x: len(x))

In [203]:
# Droppung first column
df.drop("Unnamed: 0", axis=1, inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [205]:
# Making csv
df.to_csv("/path/salary_cleaned.csv", index=False)